In [ ]:
import numpy as np
import pandas as pd
import openpyxl
import os

In [ ]:
data1 = pd.read_csv('vehicles/vehicles.csv')
data1.head(3)

In [ ]:
data2 = pd.read_csv('vehicles/vehicles_tab.txt', sep = '\t')
data2.head(3)

In [ ]:
data3 = pd.read_csv('vehicles/vehicles_pipe.txt', sep = '|')
data3.head(3)

In [ ]:
data1.to_csv('vehicles/vehicles.csv', index = False)

In [ ]:
data2.to_csv('vehicles/vehicles_tab.txt', sep = '\t', index = False)

In [ ]:
data3.to_csv('vehicles/vehicles_pipe.txt', sep = '|', index = False)

In [ ]:
serie = pd.Series(np.random.randint(100, size = 10))
serie

In [ ]:
df = pd.DataFrame(np.random.randint(100, size = [10,4]))
df

In [ ]:
df.columns

In [ ]:
df[0]

In [ ]:
df = df.rename(columns = {0:'Columna_1', 1:'Columna_2', 2:'Columna_3', 3:'Columna_4'})
df

In [ ]:
df.columns = ['A', 'B', 'C', 'D']
df

In [ ]:
df.rename(columns = {'A':'Columna_1', 'B':'Columna_2',
                     'C':'Columna_3', 'D':'Columna_4'},
         inplace = True)
df

In [ ]:
df_subset = df[['Columna_4', 'Columna_3', 'Columna_2']]
df_subset

In [ ]:
df_subset.set_index (keys = 'Columna_4', inplace = True)
df_subset

In [ ]:
company = ["Apple", "Citigroup", "General_Electric", 
          "Pfizer", "Boing_Co", "AT&t", "Ford"]
price = [119.04, 43.19, 7.29, 37.95, 167.35, 27.33, 7.67]

In [ ]:
df = pd.DataFrame(price, columns = ['Stock_price'], index = company)
df

In [ ]:
lista_de_listas = [np.random.random(10) for i in range(4)]
lista_de_listas

In [ ]:
nombre_de_columna = [f"columna{i}" for i in range(len(lista_de_listas[0]))]
nombre_de_columna

In [ ]:
df = pd.DataFrame(lista_de_listas, columns = nombre_de_columna)
df

In [ ]:
df = df.transpose()
df

In [ ]:
df.reset_index(drop = True)

In [ ]:
df

In [ ]:
import os

In [ ]:
print(os.getcwd())

In [ ]:
print(os.listdir(os.getcwd()))

In [ ]:
data = pd.read_csv("vehicles/vehicles.csv")
data.head(2)

In [ ]:
data.shape

In [ ]:
data.info()

In [ ]:
data = pd.read_csv("vehicles/vehicles.csv",
                   dtype = {'Model': str, 'Year': np.int32},
                   nrows = 10000,
                   usecols = ['Model', 'Year', 'Transmission'],
                  )
data.head(5)

In [ ]:
data.tail(10)

In [ ]:
data = pd.read_csv("vehicles/vehicles_pipe.txt", sep = '|')
data.head(5)

In [ ]:
data = pd.read_excel("vehicles/vehicles.xlsx")
data.head(3)

In [ ]:
data = pd.read_json("vehicles/vehicles.json")
data.head(3)

In [ ]:
data._get_numeric_data()

In [ ]:
import os

In [ ]:
data.to_excel('vehicles/vehicles_juan_excel.xlsx')

In [ ]:
print(os.listdir(os.getcwd()))

In [ ]:
data = pd.read_json('vehicles/vehicles.json', orient = 'records')
data.head(3)

In [ ]:
import pymysql
from sqlalchemy import create_engine

In [ ]:
engine=create_engine('mysql+mysqlconnector://admin:password@localhost:3306/Apps')

In [1]:
import pandas as pd
import openpyxl

In [2]:
data1 = pd.read_csv('vehicles/vehicles.csv')
type(data1)

pandas.core.frame.DataFrame

In [4]:
data1.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [5]:
data2 = pd.read_csv('vehicles/vehicles_tab.txt', sep = '\t')
data2.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [6]:
data3 = pd.read_csv('vehicles/vehicles_pipe.txt', sep = '|')
data3.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [7]:
data1.to_csv('vehicles/vehicles_juan.csv', index = False)

In [8]:
data = pd.read_excel('vehicles/vehicles.xlsx')
data.head(3)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100

In [9]:
data.to_excel('vehicles/vehicles_jose_juan.xlsx', index = False)

In [10]:
data = pd.read_json('vehicles/vehicles.json', orient = 'records')
data.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [11]:
data.to_json('vehicles/vehicles_jose_juan.json', orient = 'records')

In [12]:
import pymysql

In [13]:
from sqlalchemy import create_engine

In [16]:
data = pd.read_csv('vehicles/vehicles.csv')
data.head(3)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100

In [17]:
data.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [18]:
data.columns = ['Manufacturer','Model','Year','Displacement',
                'Cylinders','Transmission','Drivetrain',
                'Vehicle Class','Fuel Type','Fuel Barrels/Year',
                'City MPG','Highway MPG','Combined MPG',
                'CO2 Emission Grams/Mile','Fuel Cost/Year']

data.columns

Index(['Manufacturer', 'Model', 'Year', 'Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [19]:
data = data.rename(columns={'Manufacturer':'Make',
                            'Displacement':'Engine Displacement'})

data.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [20]:
column_order = ['Year','Make','Model','Vehicle Class',
                'Transmission','Drivetrain','Fuel Type',
                'Cylinders','Engine Displacement','Fuel Barrels/Year',
                'City MPG','Highway MPG','Combined MPG',
                'CO2 Emission Grams/Mile','Fuel Cost/Year']

data = data[column_order]
data.head(3)

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,4.0,2.5,19.388824,18,17,17,522.764706,1950
1,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550
2,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,4.0,2.5,20.600625,16,17,16,555.437500,2100

In [22]:
filtered = data[(data['Make']=='Ford') & 
                (data['Cylinders']>=6 &
                (data['Combined MPG'] < 18))]

filtered.head(3)

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11440,1986,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,4.0,2.3,17.347895,18,22,19,467.736842,1750
11441,1986,Ford,Aerostar Van,Vans,Manual 5-spd,Rear-Wheel Drive,Regular,4.0,2.3,13.733750,23,26,24,370.291667,1400
11442,1986,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,2.8,19.388824,15,21,17,522.764706,1950

In [23]:
mpg_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']

In [27]:
bins = pd.cut(data['Combined MPG'],5, labels=mpg_labels)
bins.head()

0         Low
1    Very Low
2    Very Low
3    Very Low
4    Very Low
Name: Combined MPG, dtype: category
Categories (5, object): ['Very Low' < 'Low' < 'Moderate' < 'High' < 'Very High']

In [28]:
bins = pd.qcut(data['Combined MPG'],5, labels=mpg_labels)
bins.head(10)

0         Low
1    Very Low
2    Very Low
3    Very Low
4    Very Low
5        High
6        High
7    Moderate
8        High
9        High
Name: Combined MPG, dtype: category
Categories (5, object): ['Very Low' < 'Low' < 'Moderate' < 'High' < 'Very High']